body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefae0;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

input.invalid {
    border-color: #900;
    background-color: #fdd;
}

input:not(.invalid) {
    border-color: #090;
}

.error-message {
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error-message.active {
  padding: 0.3em;
}