#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contentDiv{
  display: flex;
  width: 70%;
  height: 70%;
  justify-content: center;
  gap: 50px;
}

.contentDiv>*{
  width: 100%;
  padding: 30px;
  flex: 1;
}

.infosToAlign{
  display: flex;
}
h3 {
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Ensure words break between characters if needed */
}
.infosToAlign>*{
  flex: 1;
  gap: 10px;
}
.previewDiv{
  
  list-style: none;
  border: 3px solid ;
  height: 85vh;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: auto;
  min-height: 80vh;
}
form{  
  display: flex;
  flex-direction: column;
}
input{
  min-height: 50px;
  border-radius: 7px;
  border: none;
  padding: 0 10px;
  margin: 10px;
}
input:active{
  border: 2px solid ;
}
textarea{
  height: 100px;
  text-align: left;
  border-radius: 7px;
  border:none;
  padding: 0 10px;
  margin: 10px;
}

.btnsContainer>*{
  margin: 20px;
}

input[type=button] {
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 1.1rem;
}

input[type=submit]{
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 1.1rem;
}
.deleteBtn{background-color: red;}
.saveBtn{background-color: green;}
